@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;500;600;700&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, "open sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #000000;
}

/* E8630A orng*/
/* EFEFEF gray*/
